[submodule "bundle/changesPlugin"]
	path = bundle/changesPlugin
	url = https://github.com/chrisbra/changesPlugin.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "bundle/nerdtree-git-plugin"]
	path = bundle/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "bundle/vim-snippets"]
	path = bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/vim-tmux-navigator"]
	path = bundle/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule "bundle/vim-signify"]
	path = bundle/vim-signify
	url = https://github.com/mhinz/vim-signify.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "bundle/vim-airline-themes"]
	path = bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-php-namespace"]
	path = bundle/vim-php-namespace
	url = https://github.com/arnaud-lb/vim-php-namespace.git
[submodule "bundle/gist-vim"]
	path = bundle/gist-vim
	url = https://github.com/mattn/gist-vim.git
[submodule "bundle/webapi-vim"]
	path = bundle/webapi-vim
	url = https://github.com/mattn/webapi-vim.git
[submodule "bundle/vim-hug-neovim-rpc"]
	path = bundle/vim-hug-neovim-rpc
	url = https://github.com/roxma/vim-hug-neovim-rpc.git
[submodule "bundle/nvim-yarp"]
	path = bundle/nvim-yarp
	url = https://github.com/roxma/nvim-yarp.git
[submodule "bundle/deoplete.nvim"]
	path = bundle/deoplete.nvim
	url = https://github.com/Shougo/deoplete.nvim.git
[submodule "bundle/deoplete-padawan"]
	path = bundle/deoplete-padawan
	url = https://github.com/padawan-php/deoplete-padawan.git
[submodule "bundle/deoplete-phpactor"]
	path = bundle/deoplete-phpactor
	url = https://github.com/kristijanhusak/deoplete-phpactor.git
[submodule "bundle/phpactor"]
	path = bundle/phpactor
	url = https://github.com/phpactor/phpactor.git
[submodule "bundle/autocomplete-flow"]
	path = bundle/autocomplete-flow
	url = https://github.com/wokalski/autocomplete-flow.git
[submodule "bundle/deoplete-ternjs"]
	path = bundle/deoplete-ternjs
	url = https://github.com/carlitux/deoplete-ternjs.git
[submodule "bundle/deoplete-clangx"]
	path = bundle/deoplete-clangx
	url = https://github.com/Shougo/deoplete-clangx.git
[submodule "bundle/tern_for_vim"]
	path = bundle/tern_for_vim
	url = https://github.com/ternjs/tern_for_vim.git
[submodule "bundle/deoplete-jedi"]
	path = bundle/deoplete-jedi
	url = https://github.com/deoplete-plugins/deoplete-jedi.git
[submodule "bundle/neco-syntax"]
	path = bundle/neco-syntax
	url = https://github.com/Shougo/neco-syntax.git
[submodule "bundle/deoplete-zsh"]
	path = bundle/deoplete-zsh
	url = https://github.com/deoplete-plugins/deoplete-zsh.git
[submodule "bundle/neco-vim"]
	path = bundle/neco-vim
	url = https://github.com/Shougo/neco-vim.git
[submodule "bundle/vim-markology"]
	path = bundle/vim-markology
	url = https://github.com/jeetsukumaran/vim-markology.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/sRegister"]
	path = bundle/sRegister
	url = https://github.com/Skrip42/sRegister.git
[submodule "bundle/vim-dadbod"]
	path = bundle/vim-dadbod
	url = https://github.com/tpope/vim-dadbod.git
[submodule "bundle/vim-dadbod-ui"]
	path = bundle/vim-dadbod-ui
	url = https://github.com/kristijanhusak/vim-dadbod-ui.git
